<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.category %></h3>

  <h5>Contact Details</h5>
  <h5><%= @restaurant.phone_number %></h5>
  <h5><%= @restaurant.address %></h5>
</div>
